body{
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 900px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 300px;
    
}
.container{
    background-color: rgba(236, 112, 189, 0.267);
    width: 600px;
    height: 500px;
    border: 4px solid rgb(124, 115, 115);
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
   
}
img{
    height: 500px;
    width: 300px;
    padding-right: 25px;
    
}
.main{
    padding-right: 25px;
}
h3{
    font-family: "Merienda", cursive;
        font-optical-sizing: auto;
        font-weight: 700
}
h1{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#para1{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
#para2{
    font-size: 20px;
   font-weight: bold;
   word-spacing: 8px;

}
del{
    font-size: 15px;
}
#main-btn{
    padding-left: 30px;
    
}
.btn{
    background-color: rgb(127, 255, 255);
    height: 25px;
    width: 170px;
    font-size: 13px;
    font-weight: bold;
}
.btn:hover{
   font-size: 15px;
   background-color: aliceblue;
}



